#titulo{
    color:white;
    text-align: center;
}
    
body{
    background-color: black;
}

a:hover{
    color: green;
    transition: color ease-in-out;
}
a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-size: 26px;
  
 
}
nav{   
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 0;
    right: 0;
    text-align: center;
    background: gray;
    border: 3px solid green;
    border-color: orange;
}
#que{
   
    color: white;
}
#historia{
   
    color: white;
}
#ova{
    color: white;
}

footer{
    font-size: small;
    border: 3px solid black;
    padding: 8px 8px;
    border-color: orange;
    right: 0;
    top: 0;
    color: white;
    background: grey;
}



